<template name="dashboard">	
	<div class="col-md-10">
	
		<h5>Dashboard</h5>
		<h2 class="dashboardTitle">Visao Geral</h2>
		<div>
			<select id="carroSelecionado" class="form-control">
				{{#each meusVeiculos}}
					<option value="{{_id}}">{{modelo}}</option>
				{{/each}}
			</select>
		</div>
		<div class="col-md-12" style="margin-top:2%;">
			<div class="col-md-3 col-sm-6 col-xs-12 ">
				<span class="topText"><i class="fa fa-user"></i> Total de Gastos</span>
				<div class="topNumber">R$ {{carroSelected.totalGasto}}</div>
				<span class="topText"><i class="green">-% </i> --</span>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 borderDireito">
				<span class="topText"><i class="fa fa-clock-o"></i> KM/L</span>
				<div class="topNumber">{{carroSelected.kmByLitro}}</div>
				<span class="topText"><i class="green"><i class="fa fa-sort-asc"></i>-% </i> --</span>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 borderDireito">
				<span class="topText"><i class="fa fa-clock-o"></i> KM Percorridos</span>
				<div class="topNumber">{{carroSelected.kmAtual}}</div>
				<span class="topText"><i class="green"><i class="fa fa-sort-asc"></i>-% </i> --</span>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 borderDireito">
				<span class="topText"><i class="fa fa-clock-o"></i> Eventos Agendados</span>
				<div class="topNumber">3</div>
				<span class="topText"><i class="green"><i class="fa fa-sort-asc"></i>-% </i> --</span>
			</div>
		</div>
		<div class="col-md-12" style="margin-top:6%; margin-left:7%" >
			<div class="col-md-3 col-sm-6 col-xs-12 roundedSized sla" style="background-color:white">
				<h3 align=center style="color:black">Troca de Pneus</h3>
				<canvas id="troca"></canvas>
			</div>	
			<div class="col-md-3 col-sm-6 col-xs-12 roundedSized sla" style="background-color:white">
				<h3 align=center style="color:black">Calibragem</h3>
				<canvas id="calibragem"></canvas>
			</div>	
			<div class="col-md-3 col-sm-6 col-xs-12 roundedSized sla" style="background-color:white">
				<h3 align=center style="color:black">Nada</h3>
				<canvas id="nada"></canvas>
			</div>				
		</div>
		<!--<div class="col-md-12 calendario">{{> fullcalendar id="myCalendar"}}</div>-->
	</div>	
</template>