<head>
	<title>Projeto de estudo</title>
</head>
<body>
	
</body>

<template name="loginTemplate">
<div class="col-md-5 centered centeredVertically" >{{> yield "conteudo"}}</div>

</template>

<template name="appTemplate">
	<div id="wrapper">
			<div class="overlay"></div>
		
			<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
				<ul class="nav sidebar-nav">
					<li class="sidebar-brand">
						<a href="#">
						   Projeto de Estudo
						</a>
					</li>
					<li>
						<a href="home">Meus Dados</a>
					</li>
					<li>
						<a href="carros">Meus Carros</a>
					</li>
					<li>
						<a href="dividas">Minhas Dividas</a>
					</li>
					<li>
						<a href="sair">Sair</a>
					</li>
				</ul>
			</nav>

			<div id="page-content-wrapper">
				<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
					<span class="hamb-top"></span>
					<span class="hamb-middle"></span>
					<span class="hamb-bottom"></span>
				</button>
				<div class="container" style="margin: 0 15%">{{> yield "conteudo"}}</div>
			</div>
    </div>
</template>