<template name="meusCarros">
	<h2 style="font-family: Brandom_bold"><b>Meus Carros</b></h2>
	<div class="col-md-10 roundedSized" style="background-color:white; padding:4% 2% 1% 2%;">
		<table class="table table-striped">
		  <thead class="thead-inverse">
			<tr>
			  <th>#</th>
			  <th>Marca</th>
			  <th>Modelo</th>
			  <th>Placa</th>
			  <th></th>
			  <th></th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <th scope="row">1</th>
			  <td>Teste</td>
			  <td>teste</td>
			  <td>@teste</td>
			  <td><a href="#" class="btn btn-success" ><span class="glyphicon glyphicon-edit"></span></a></td>
			  <td><a href="#" class="btn btn-danger" ><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
			<tr>
			  <th scope="row">2</th>
			  <td>teste</td>
			  <td>teste</td>
			  <td>@teste</td>
			  <td>@teste</td>
			  <td>@teste</td>
			</tr>
		  </tbody>
		</table>
	</div>
</template>